/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&family=Bebas+Neue&family=Poltawski+Nowy:wght@400;700&family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
/* Autofill background transparent fix */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s !important;
}
.testimonial-section .slick-dots li button:before {
    color: white;
    /* change dot color */
}

.testimonial-section .slick-prev:before,
.testimonial-section .slick-next:before {
    color: white;
    /* change arrow color */
}
/* Add this CSS in your global stylesheet (e.g., index.css / App.css) */
.slick-prev:before,
.slick-next:before {
    content: '';
    /* Remove default arrow circle */
}